doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      img.logo(src='/images/6_Ein1copy.png')
      nav
        ul
          li
            a(href='/') Home
          li
            a(href='/post/add') Add Post
          li
            a(href='categories/add') Add Categories
      block content
      footer
        p NodeBlog &copy; 2019
