doctype html
html(lang='en')
  head
    title
    // Bootstrap core CSS
    link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
  body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark
      a.navbar-brand(href='#') Navbar
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarsExampleDefault.collapse.navbar-collapse
        ul#navbar-menu.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/') Home
          li.nav-item
            a.nav-link(href='/about') About
          li.nav-item
            a.nav-link(href='/contact') Contact
    section.container
      block content

    hr

    footer.container
      p(class='text-center') © Company 2017-2019
    script.
      //Not working at the moment
      let ul = document.getElementById("navbar-menu");
      let li = ul.getElementsByTagName("li");
      li[0].classList.add("active");
      for(let i =0; i < li.length; i++) {
        li[i].addEventListener("click", function() {
          removeActiveClass();
          this.classList.add("active");
        });
      }
      function removeActiveClass() {
        for(let i = 0; i < li.length; i++) {
          li[i].classList.remove("active");
          }
      }
